[Desktop Entry]
Name=Paperboy
Exec=paperboy
Icon=paperboy
Type=Application
Categories=Network;News;GTK;
Keywords=news;rss;reader;feed;aggregator;
StartupNotify=true
StartupWMClass=io.github.thecalamityjoe87.Paperboy
X-GNOME-FullName=Paperboy

X-AppImage-Version=0.7.3a
